/* ------------------- HEADER ------------------- */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #343a40;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-button {
    background-color: #007BFF;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.auth-button:hover {
    background-color: #0056b3;
}

/* Bouton déconnexion */
.auth-buttons form button {
    background-color: #dc3545;
    border: none;
    cursor: pointer;
}

.auth-buttons form button:hover {
    background-color: #b02a37;
}
